.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 80px;
}

.body {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.eventList {
  width: 65%;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  padding-right: 3%;
}

.eventList__nav {
}

.eventList__nav__link {
  margin-left: 4px;
  margin-right: 4px;
}

.eventItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  border: 1px solid blue;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8px;

  width: 100%;
}

.eventItem__left {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.eventItem__right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.eventItem__image {
  height: 120px;
}

.eventMap {
  width: 35%;
  height: calc(100vh - 160px);
}

.footer {
  width: 100%;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
